@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');



.con-icon{
    position: fixed;
    top: 300px;
    z-index: 1000;
}


.con-icon .icon{
    margin:4px 5px;
    text-align: center;
    cursor: pointer;
    align-items: center;
    justify-content: center;
    position: relative;
    z-index: 2;
    transition: 0.4s cubic-bezier(0.52, -0.50, 0.212, 1.45);
}

.con-icon .icon span{ 
    position: relative;
    display: block;
    height: 30px;
    width: 30px;
    background: #fff;
    border-radius: 100%;
    z-index: 2;
    transition: 0.4s cubic-bezier(0.52, -0.50, 0.212, 1.45);
    box-shadow: 0px 10px 10px rgba(0,0,0,0.1);
}

.con-icon .icon span i{
    line-height: 30px;
    font-size: 15px;
    color: #fff;
}

.con-icon .icon .tooltip{
    position: absolute;
    background: #fff;
    color: #fff;
    padding: 10px 16px;
    font-size: 12px;
    font-weight: 800;
    border-radius: 4px;
    top: 20px;
    left: 46px;
    z-index: 1;
    opacity: 0;
    pointer-events: none;
    box-shadow: 0px 10px 10px rgb(0 0 0 / 10%);
    transition: 0.4s cubic-bezier(0.52, -0.50, 0.212, 1.45);
    cursor: pointer;
}


.con-icon .icon:hover .tooltip{
    top: -0px;
    opacity: 1;
    margin-top: 10px;
    pointer-events: auto;
    cursor: pointer;
}

.icon .tooltip:before{
    position: absolute;
    content: "";
    height: 15px;
    width: 15px;
    background: #fff;
    left: 3px;
    bottom: 15px;
    transform: translate(-50%) rotate(45deg);
    transition: 0.4s cubic-bezier(0.52, -0.50, 0.212, 1.45);
}

.con-icon .facebook span,
.con-icon .facebook .tooltip,
.con-icon .facebook .tooltip:before{
    background: #3b5999;
    color: #fff;
}

.con-icon .youtube span,
.con-icon .youtube .tooltip,
.con-icon .youtube .tooltip:before{
    background: #ff0000;
    color: #fff;
}

.con-icon .twitter span,
.con-icon .twitter .tooltip,
.con-icon .twitter .tooltip:before{
    background: #1ca2f3;
    color: #fff;
}

.con-icon .instagram span,
.con-icon .instagram .tooltip,
.con-icon .instagram .tooltip:before{
    background: #e1306c;
    color: #fff;
}
