/* a.tinvwl_add_to_wishlist_button.tinvwl-icon-heart.tinvwl-position-after {
    display: none;
} */

.custome-name-style {
    margin-left: 12px;
    font-weight: 600;
}
.rtl .custome-name-style {
    margin-left: 0px;
    margin-right: 12px;
    font-weight: 600;

}
/* .site-module.products-module {
    overflow: hidden;
} */
span.tinvwl_add_to_wishlist-text {
    display: none;
}
.rtl .custome-danger-styles{
margin-top: 10px;
}
i.fa.fa-star {
    color: #ffc21f;
    font-size: 12px;
}
.custome-rtl-div-alignment{
    margin-left:15px;
}
.rtl .custome-rtl-div-alignment{
    margin-left:none;
    margin-right:15px;
}
.rtl .span.tinvwl_add_to_wishlist-text {
    display: none;
}
.rtl .add-style-to-cart-btn{
    margin-left: none;
    margin-right: 5px;
}
ol.flex-control-thumbs .owl-item {
    display: inline-block;
}
.wishliast-account-orders-table th{
    font-size: 0.85rem !important;
    padding:8px !important;
}
.owl-nav {
    display: none;
}

.rtl .cart-dropdown.hide {
    margin-right: -300px;
}

.rtl .header-addons-icon.icons-style {
    margin-left: 20px;
}

.rtl .header-addons-icon.heart-style-custom {
    margin-left: 10px;
}

.rtl .header-addons.login-button.user-icons-style {
    margin-right: 48px;
}

.rtl .sub-text.user-text-style {
    margin-right: 10px;
}

.rtl .header-addons-text.hide-mobile.header-setup-style {
    margin-right: 20px;
}

.rtl .cart-button.custom-margin-style {
    margin-right: 7px;
}

.rtl .btn.link.move-to-left {
    margin-left: inherit;
}

.rtl .entry-coupon.move-to-left {
    margin-left: inherit;
}

.rtl .my-account-navigation.remove-border-right {
    border-right: none;
}

.rtl .card.l-bg-orange-dark {
    color: #fff;
    background-image: url('https://igtechservices.com/public/uploads/banners/1652945405-WhatsAppImage2022-03-31at12.56.24PM.jpeg');
    background-position: center;
}
.rtl .col-4.text-right.date-align-setup {
    text-align: end;
}

.rtl .woocommerce-MyAccount-navigation.terms-border-right {
    border-right: none;
}

.rtl .buttonsalignment {
    margin-left: 5px;
}

.rtl .product-buttons {
    right: auto !important;
}
.rtl .testslider{
    height: auto;
    border: none;
    max-width: 100%;
    border-radius: 0;
    box-shadow: none;
    visibility: visible !important;
}
.rtl .swiper-container{
    direction: ltr;
}
.rtl .banner-content-wrapper.set-banner-text-alignment{
    margin-right: auto !important;
}
.rtl a.woocommerce-button.button.address-btn.view.p-0{
    margin-right: 448px !important;
    margin-left: auto !important;
}
.rtl .order-tracking-style{
    font-size: large;
}
.rtl .about-us-style{
    font-size: large;
    margin-right: 22px;
}
.rtl .header-nav{
    margin-right: 14px;
}
.order-tracking-style{
    font-size: unset;
}
.about-us-style{
    font-size: unset;
}
.rtl .column.align-center.left{
    margin-right: -31px;
}
.rtl .column.align-center.right.header-aligment-setup{
    margin-left: -50px;
}
.custom-file-upload{
    background: #f7f7f7;
    border-radius: 5px;
    border: 1px solid #ccc;
    display: inline-block;
    padding: 3px 12px;
    cursor: pointer;
}
.tinv-wishlist table th{color:black !important;}
.contact-form{padding: 5.1rem !important;}
.site-offcanvas-row.site-offcanvas-header {
    background: #fff;
}
.single-product-wrapper form.cart .add_to_cart_button{
    padding-left: 0.875rem !important;
}
.swiper-wrapper .actions {display:none !important;}