/* a.tinvwl_add_to_wishlist_button.tinvwl-icon-heart.tinvwl-position-after {
    display: none;
} */

span.tinvwl_add_to_wishlist-text {
    display: none;
}

.rtl .span.tinvwl_add_to_wishlist-text {
    display: none;
}

ol.flex-control-thumbs .owl-item {
    display: inline-block;
}

.owl-nav {
    display: none;
}

.rtl .cart-dropdown.hide {
    margin-right: -300px;
}

.rtl .header-addons-icon.icons-style {
    margin-left: 20px;
}

.rtl .header-addons-icon.heart-style-custom {
    margin-left: 10px;
}

.rtl .header-addons.login-button.user-icons-style {
    margin-right: 48px;
}

.rtl .sub-text.user-text-style {
    margin-right: 10px;
}

.rtl .header-addons-text.hide-mobile.header-setup-style {
    margin-right: 20px;
}

.rtl .cart-button.custom-margin-style {
    margin-right: 7px;
}

.rtl .btn.link.move-to-left {
    margin-left: inherit;
}

.rtl .entry-coupon.move-to-left {
    margin-left: inherit;
}

.rtl .my-account-navigation.remove-border-right {
    border-right: none;
}

.rtl .card.l-bg-orange-dark {
    color: #fff;
    background-image: url('https://igtechservices.com/public/uploads/banners/1652945405-WhatsAppImage2022-03-31at12.56.24PM.jpeg');
    background-position: center;
}

.rtl .col-4.text-right.date-align-setup {
    text-align: end;
}

.rtl .woocommerce-MyAccount-navigation.terms-border-right {
    border-right: none;
}

.rtl .buttonsalignment {
    margin-left: 5px;
}

.rtl .product-buttons {
    right: auto !important;
}
.rtl .testslider{
    height: auto;
    border: none;
    max-width: 100%;
    border-radius: 0;
    box-shadow: none;
    visibility: visible !important;
}
